body {
    background: #313848;
}

#appName {
    color: #768b8b;
    text-align: center;
}

#wordSearchedColumn {
    display: block;
    margin: auto;
}

#wordSearchedTitle {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: -10px 0px auto;
    background-color: #313848;
}

#wordSearchedInput {
    display: block;
    margin: auto;
    color: #768b8b;
}

#wordSearchedButton {
    margin-top: 25px;
}

#wordDefinitionColumn {
    margin-top: 100px;
    min-height: 100px;
    border: 1px solid #768b8b;
    color: #768b8b;
    /* text-align: center; */
}

#wordDefinitionTitle {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: -10px 0px auto;
    background-color: #313848;
}

#wordSynonymColumn {
    margin-top: 100px;
    min-height: 100px;
    border: 1px solid #768b8b;
    color: #768b8b;

}

#wordSynonymTitle {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: -10px 0px auto;
    background-color: #313848;
}

#wordAntonymColumn {
    margin-top: 100px;
    min-height: 100px;
    border: 1px solid #768b8b;
    color: #768b8b;
}

#wordAntonymTitle {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: -10px 0px auto;
    background-color: #313848;
}

#associatedWordsColumn {
    margin-top: 100px;;
    min-height: 100px;
    color: #768b8b;
    text-align: center;
}

#associatedWordsTitle {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: -10px 0px auto;
    background-color: #313848;
}

.link{
    stroke: white;
    stroke-width: 2px;
}

.triggernode circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
    cursor: text;
  }

  .node circle {
    fill: #ddddff;
    stroke: #000;
    stroke-width: 1.5px;
    cursor: pointer;
  }

  text {
    font: 17px sans-serif;
    text-anchor: middle;
    pointer-events: None;
    font-weight: bold;
  }
  